body {
    font-family: inter, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;            
    align-items: center;      
    flex-wrap: wrap;        
    background: white;
    padding: 20px 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    height: 75px;
    width: auto;
    margin-top: -5px;
    margin-left: px;
    display: block;

}
header h1 {
    margin: 0;
    font-size: 24px;
}

main {
    padding: 20px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #0099cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.roundBox {
    border: 3px solid darkgray;
    color: darkgray;
    background-color: none;
    padding: 5px;
    border-radius: 5px;
    border-width: 3px;
    margin: 10px;
}
.roundBox:hover {
    cursor: pointer;
    background-color: darkgray;
    color: white;
}
.side-image {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 20px auto;
}


.background {
  width: 100vw;
  height: 100vh;
  background-image: url("your-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}